body {
    font-family: 18px/28px "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.grid-container{
    max-width: 960px;
    width: 100%;
    display: grid;
}

/* -- our cleafix hack -- 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
} */

nav-logo {
    min-height: 1px; 
    float: left;
    
}

print-icon {
    clear: left;
    float: right;
}

img.logo {
    float: left;
}

div.nav-icons {
    float: right;
}

h1 {
    font-style:  "Zapf Chancery", cursive;
}

.row-nav {
    border-bottom: 10px gray dotted;
}

.list {
background-image: url("assets/list-bg.png");
background-repeat: no-repeat;
float: center;
}

ul {
    list-style: circle;
  }
